<div id="map"></div>
<template>
  <div class="review">
    <div class="review__inner">
      <div class="review__prev">
      </div>
      <div data-role="review-form" class="review__form">
        <h1 class="review__header">Отзыв:</h1>
        <div class="review__inputs">
          <input data-role="review-name" type="text" placeholder="Укажите ваше имя" class="review__input">
          <input data-role="review-place" type="text" placeholder="Укажите место" class="review__input">
          <textarea data-role="review-text" placeholder="Оставьте отзыв" class="review__text"></textarea>
        </div>
        <button data-role="review-add" class="btn">Добавить</button>
      </div>
    </div>
  </div>
</template>