<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <title>Geo Review</title>
</head>

<body>
  <div class="container">
    {{> "./templates/geo.hbs"}}
  </div>
</body>

</html>